{% extends "base_generic.html" %}

{% block content %}
    <h1>My ATM Cards</h1>

    {% if card_list %}
    <ul>

      {% for card in card_list %}
      <li class="{% if card.is_expired %}text-danger{% endif %}">
        <a href="{% url 'card_detail' card.id %}">{{card.id}}</a> ({{ card.expiry_date }}) ({{ card.card_status }})
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>You do not own any ATM Cards.</p>
    {% endif %}

    <form action="/user/confirmcard">
        <input class='button button1' type="submit" value="Register Card" />
    </form>

{% endblock %}